<section class="card">
  <a href="/blog/{{id}}">
    <header>
      <h5 class="row" style="padding-left:20px;">{{title}}</h5>
    </header>
    <p class="content">{{content}}<p>
    <p class="by">Posted by {{creator_id}} on {{format_date created_date}}</p>
  </a>
</section>